<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <% if logged_in? %>
      <li><%= link_to 'Profile', '#' %></li>
      <li><%= link_to 'Log Out', '#' %></li>
    <% else %>
      <li><%= link_to 'Log In', login_path %></li>
    <% end %>
  </ul>
</nav>